{% extends "base.html" %} {% load static%}{% block content %}
<section>
    <div class="container py-5">
        <div class="row">
            <div class="col-sm-12 col-md-6 banner-text">
                <div class="text">
                    <h3>A modern restaurant with a menu that will make your mouth water.</h3>
                    <p>X Siamo bridges the traditional with the contemporary, bringing live-fire cooking, housemade
                        pasta,
                        and a robust Italian wine list to the heart of Manhattan West.</p>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <img class="img-fluid" src="{%static 'images/Restaurant-slogan-2.jpg'%}" alt="Resturant">
            </div>
        </div>
    </div>
</section>
{% endblock content %}